<h1 class="account-h1">Your Account</h1>
<div id="account-info">
<br/><br/>
<p><strong>Name: </strong><%= @user.first_name + " " + @user.last_name %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<a id="see-orders" class="add-to-cart" href="#">See Order History</a>
</div>


