<h3>Home</h3>


Logged In: <%= current_user.present? %><br />

<%if !current_user.nil? %>
First Name: <%= current_user.first_name %><br />
Last Name: <%= current_user.last_name %><br />
Email: <%= current_user.email %><br />
<%end%>
