<div class="main">
  <%= image_tag "notebook.jpeg", class: "home-photo" %>
</div>

<div class="subscribe">
  <h1>Subscribe To Our Email List</h1>
  <h3>for updates on promotions & new products</h3>

  <form class="subscribe-form">
    <input type="text" name="email-list-email" value="example@example.com" class="subcribe-form">
    <input type="submit" value="Sign Up" class="subscribe-form" />
  </form>
  </p>
</div>

<div class="top-items">
  <h1>Best Sellers</h1>

  <div class="top-items-items">
    <% @items.each do |item| %>
      <div class="shop-item">
        <%= image_tag item.picture %>
        <p><%= link_to item.name, item_path(item) %></p>
      </div>
    <%end%>
  </div>
</div>
