
<div class="main">
  <% @items.each do |item| %>
    <div class="shop-item">
      <div class="shop-item-image"><%= image_tag item.picture %></div>
      <p><%= link_to item.name, item_path(item) %></p>
      <p><%= item.price %></p>
      <p><%= item.description %></p>
    </div>
  <%end%>

</div>
