/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html {
   font-size: 16px;
 }

  body {
    font-family: "Avenir Next", "Lato", sans-serif;
    color: #b1859d;
    min-height: 100%;
    width: 100%;
  }


  .logo {
    display: flex;
    align-items: center;
    width: 20%;
    height: 5rem;
    padding-left: 10rem;
  }

  .main {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   height: 100%;
  }

  .free-shipping {
    background-color: #b1859d;
    height: 1.5rem;
    color: white;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 100%;
  }


  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway";
    color: #b1859d;
  }

  nav {
    padding-right: 7rem;
  }

  nav a {
    padding-left: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
    color: #CFB2C2;
    font-family: "Raleway" "Lato", sans-serif;
    /* letter-spacing: .5px; */
  }

  a:hover {
    color: #d6e4e8;
  }

  h1 {
    font-size: 1.5rem;
  }

  header h1 {
    padding-left: 1rem;
    font-family: "Sacramento";
    text-decoration: underline;
    font-weight: 300;
    font-size: 2.5rem;
    color: #b1859d;
  }

  input[type=submit] {
    border-color: #d18ab0;
    border-radius: 3px;
    padding: .75rem;
    color: #d18ab0;
    cursor: pointer;
  }

  footer {
    margin-top: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    width: 100%;
    text-transform: uppercase;
    font-size: .8rem;
    color: #ccbac4;
    font-family: "Avenir Next", "Lato", sans-serif;
    background-color: #b1859d;
  }

  footer a {
    padding-top: 1rem;
    color: white;
  }

  .empty {
    height: 25rem;
  }

  @media only screen and (max-width: 855px){
  
    .logo {
      padding: 3rem;
    }
   
  }

  @media only screen and (max-width: 733px){
  
    nav {
      padding-right: 3rem;
    }
   
  }

  @media only screen and (max-width: 653px){
  
    header {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .logo {
      width: 100%;
      justify-content: center;
    }
   
  }