/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $mauve: #ccbac4;

 html {
   font-size: 16px;
 }

  body {
    font-family: "Avenir Next";
    color: #8e5e78;
    min-height: 100%;
    width: 100%;
  }

  .luxe-logo {
    width: 3rem;
  }

  .logo {
    display: flex;
    align-items: baseline;
    width: 20%;
    height: 5rem;
    padding-left: 15rem;
  }

  .main {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding: 5rem;
   height: 100%;
  }

  .free-shipping {
    background-color: #ccbac4;
    height: 1.5rem;
    color: white;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 100%;
  }

  hr {
    width: 70%;
    color: #ccbac4;
    background-color: #ccbac4;
    border: 0;
    height: 1px;
  }


  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway";
    color: #ccbac4;
  }

  nav {
    padding-right: 7rem;
  }

  nav a {
    padding-left: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: #ccbac4;
    font-family: "Avenir Next";
  }

  a:hover {
    color: #d6e4e8;
  }

  h1 {
    font-size: 1.5rem;
  }

  header h1 {
    padding-left: 1rem;
    font-family: "Sacramento";
    font-weight: 300;
    font-size: 3.5rem;
    color: #ccbac4;
  }

  input[type=submit] {
    border-color: #d18ab0;
    border-radius: 3px;
    padding: .75rem;
    color: #d18ab0;
    cursor: pointer;
  }

  footer {
    bottom: 0;
    top: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    width: 100%;
    text-transform: uppercase;
    font-size: .8rem;
    color: #ccbac4;
    font-family: "Avenir Next";
    margin-top: 0rem;
    background-color: #ccbac4;
  }

  footer a {
    padding-top: 1rem;
    color: white;
  }
