// Place all the styles related to the Item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shop-item p {
  margin-top: 2rem;
}

.shop-item img {
  width: 60%;
}

.shop-item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 6rem 0rem;
  text-align: center;
}


/* SHOW PAGE */

.shop-item-show {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: solid 1px;
  width: 80%;
  height: 30rem;
  margin-top: 7rem;
  // padding: 0 10rem;
}

.shop-item-show-image {
  width: 50%;
  display: flex;
  justify-content: center;
  max-height: 100%;
  // border: solid 1px red;
}

.shop-item-show-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  // border: solid 1px red;
}

.shop-item-show-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0;
  margin: 0;
  max-height: 100%;
}

.shop-item-show p {
  margin-top: 1rem;
  color: #ccbac4;
  line-height: 2rem;
}

.shop-item-show-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #8e5e78;
  font-family: "Raleway";
}

.shop-item-show-title:hover {
  color: #ccbac4;
}

.add-to-cart, #show-reviews, #next-item {
  border: 1px solid #965E7C;
  border-radius: 3px;
  padding: .8rem;
  // width: 20%;
  text-align: center;
  background-color: #965E7C;
  color: white;
  font-size: .8rem;
  margin-top: 3rem;
  font-family: "Raleway";
  text-transform: uppercase;
  color: white;
}

.shop-item-show-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  width: 70%;
}


@media only screen and (max-width: 1366px){
  .shop-item {
    width: 30%;
  }
  .shop-item-show {
    width: 90%;

  }
  .shop-item-show-text {
    padding: 0 3rem 0 3rem;
  }
  .shop-item-show-buttons {
    width: 100%;
  }
}

@media only screen and (max-width: 768px){
  .shop-item {
    width: 40%;
  }
}

@media only screen and (max-width: 600px){
  .shop-item {
    width: 100%;
  }

  .shop-item-show {
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;
    padding: 0;
    height: 50rem;
  }

  .shop-item-show-text {
    margin-top: 3rem;
    width: 87%;
  }

  .shop-item-show-buttons {
    margin-top: 3rem;
  }

  .shop-item-show-image {
    width: 50%;
    max-height: 50%;
  }

  .review form textarea {
    width: 80%;
  }
}

@media only screen 
and (max-width: 1024px)
and (min-width:600px) {
  .shop-item-show {
    flex-direction: column;
    margin-top: 3rem;
    width: 80%;
    padding: 0;
    height: 50rem;
  }

  .shop-item-show-text {
    margin-top: 3rem;
    width: 87%;
  }

  .shop-item-show-buttons {
    margin-top: 3rem;
  }

  .shop-item-show-image {
    width: 50%;
    max-height: 50%;
  }

 
}


