// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-photo img {
  width: 100%;
}

.home-photo {
  width: 85%;
  height: 40rem;
  // padding-top: 4rem;
}

.subscribe {
  width: 100%;
  background-color: #ccbac4;
  height: 18rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: .8rem;
  font-family: "Avenir Next";
}

.subscribe-form {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

 .subscribe-form input[type=text] {
  margin-left: 1rem;
  border-radius: 3px;
  height: 1.5rem;
  width: 15rem;
  padding: .5rem 0;
  border: none;
  color: #ccbac4;
  text-align: center;
}

.subscribe-form input[type=submit] {
  color: #ccbac4;
  background: white;
  border: none;
  margin-top: 2rem;
  font-size: .7rem;
}

.subscribe h3 {
  text-transform: lowercase;
  padding-top: 1rem;
}

.top-items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-items h1 {
  text-transform: uppercase;
  padding-top: 4rem;
}

.top-items-items {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
